header {
  text-align: center;
}

.boton {
  margin-top: 25px;
}

.resultados-card {
  margin-bottom: 30px;
}

h6 {
  margin: 10px;
  margin-top: 50px !important;
  text-align: center;
  font-size: 15px !important;
}

span {
  font-size: 20px;
}

.mt-6 {
  margin-top: 0px; 
}